<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.trma.mapper.TrmaHomeMapper">

    <!-- ========================= -->
    <!-- 사용자 정보 조회 -->
    <!-- ========================= -->
    <select id="userInfo"
            parameterType="com.example.backend.trma.dto.request.UserInfoRequest"
            resultType="com.example.backend.trma.dto.dataList.UserInfoData">

        SELECT
            a.USER_NM
            ,a.LANG_CD
            ,b1.CMM_CM_NM AS LANG_NM
            ,a.STATE_CD
            ,b2.CMM_CM_NM AS STATE_NM
            ,a.ROLE_CD
            ,b3.CMM_CM_NM AS ROLE_NM
            ,a.BIRTH_DT
            ,a.GENDER_CD
            ,b4.CMM_CM_NM AS GENDER_NM
            ,a.PHONE_NUM
        FROM TB_TRMA_USER_INFO a
        LEFT JOIN TB_TRMA_CMM_CD_D b1 ON a.LANG_CD = b1.CMM_CDV AND b1.CMM_CD_ID = 'LANG_CD'
        LEFT JOIN TB_TRMA_CMM_CD_D b2 ON a.STATE_CD = b2.CMM_CDV AND b2.CMM_CD_ID = 'STATE_CD'
        LEFT JOIN TB_TRMA_CMM_CD_D b3 ON a.ROLE_CD = b3.CMM_CDV AND b3.CMM_CD_ID = 'ROLE_CD'
        LEFT JOIN TB_TRMA_CMM_CD_D b4 ON a.GENDER_CD = b4.CMM_CDV AND b4.CMM_CD_ID = 'GENDER_CD'
        WHERE
            a.USER_ID = #{userId}

    </select>

    <!-- ========================= -->
    <!-- 공통코드(카테고리) -->
    <!-- ========================= -->
    <select id="tourCategory"
            parameterType="com.example.backend.trma.dto.request.TourCategoryRequest"
            resultType="com.example.backend.trma.dto.dataList.CategoryInfoData">

        SELECT
            a.CMM_CDV
            ,a.CMM_CM_NM
        FROM TB_TRMA_CMM_CD_D a
        WHERE a.CMM_CD_ID = #{cmmCdId}

    </select>

    <!-- ========================= -->
    <!-- 인기 여행지(리뷰기반) -->
    <!-- ========================= -->
    <select id="bestTourList"
            resultType="com.example.backend.trma.dto.dataList.BestTourListData">

        SELECT
            b.TOUR_ID
            ,b.TOUR_NM
            ,b.SIDO_CD
            ,c1.CMM_CM_NM AS SIDO_NM
            ,b.SGG_CD
            ,c2.CMM_CM_NM AS SGG_NM
            ,b.ROAD_ADDR
            ,b.DETAIL_ADDR
            ,b.ZIP_CD
            ,CAST(GROUP_CONCAT(DISTINCT d.CATE_CD ORDER BY d.CATE_CD) AS CHAR) AS CATE_CD
            ,CAST(GROUP_CONCAT(DISTINCT e.CMM_CM_NM ORDER BY e.CMM_CM_NM) AS CHAR) AS CATE_NM
            ,AVG(a.REVIEW_SCORE) AS AVG_SCORE
            ,b.FIRST_IMAGE
        FROM TB_TRMA_MOIM_REVIEW a
        LEFT JOIN TB_TRMA_TOUR_LIST b ON a.TOUR_ID = b.TOUR_ID
        LEFT JOIN TB_TRMA_CMM_CD_D c1 ON c1.CMM_CD_ID = 'SIDO_CD'
            AND c1.CMM_CDV LIKE CONCAT(LPAD(b.SIDO_CD, 2, '0'), '%')
        LEFT JOIN TB_TRMA_CMM_CD_D c2 ON c2.CMM_CD_ID = 'SGG_CD'
            AND c2.CMM_CDV LIKE CONCAT(LPAD(b.SIDO_CD, 2, '0'), LPAD(b.SGG_CD, 3, '0'), '%')
        LEFT JOIN TB_TRMA_TOUR_CATE d ON b.TOUR_ID = d.TOUR_ID
        LEFT JOIN TB_TRMA_CMM_CD_D e ON d.CATE_CD = e.CMM_CDV
            AND e.CMM_CD_ID = 'TOUR_LCLS_CD'
        WHERE b.USE_YN = 'Y'
        GROUP BY
            b.TOUR_ID
            ,b.TOUR_NM
            ,b.SIDO_CD
            ,c1.CMM_CM_NM
            ,b.SGG_CD
            ,c2.CMM_CM_NM
            ,b.ROAD_ADDR
            ,b.DETAIL_ADDR
            ,b.ZIP_CD
        ORDER BY AVG_SCORE DESC
        LIMIT 5;

    </select>

    <!-- ========================= -->
    <!-- 인기 모임(클릭 수 많은 모임) -->
    <!-- ========================= -->
    <select id="bestMoimList"
            resultType="com.example.backend.trma.dto.dataList.BestMoimListData">

        SELECT
            b.MOIM_ID
            ,b.MOIM_TITLE
            ,b.MOIM_DSCR
            ,b.MOIM_START_DT
            ,b.MOIM_END_DT
            ,b.CREATE_USER AS USER_ID
            ,d.USER_NM
            ,CAST(GROUP_CONCAT(DISTINCT e.CATE_CD ORDER BY e.CATE_CD) AS CHAR) AS CATE_CD
            ,CAST(GROUP_CONCAT(DISTINCT f.CMM_CM_NM ORDER BY f.CMM_CM_NM) AS CHAR) AS CATE_NM -- 별칭 중복 수정
            ,(SELECT
            COUNT(1)
            FROM TB_TRMA_MOIM_MEMBER mm
            WHERE mm.MOIM_ID = b.MOIM_ID
            AND mm.ROLE_CD = 'A') AS MEMBER_CNT
            ,b.MAX_MEMBER
            ,v.VISIT_CNT
        FROM (
            SELECT
            MOIM_ID,
            COUNT(1) AS VISIT_CNT
            FROM TB_TRMA_MOIM_VISIT_H
            GROUP BY MOIM_ID
        ) v
        INNER JOIN TB_TRMA_MOIM_LIST b ON v.MOIM_ID = b.MOIM_ID
        LEFT JOIN TB_TRMA_USER_INFO d ON b.CREATE_USER = d.USER_ID
        LEFT JOIN TB_TRMA_MOIM_CATE e ON e.MOIM_ID = b.MOIM_ID
        LEFT JOIN TB_TRMA_CMM_CD_D f ON e.CATE_CD = f.CMM_CDV AND f.CMM_CD_ID = 'CATE_ID'
        WHERE b.USE_YN = 'Y'
        GROUP BY
            b.MOIM_ID
            ,b.MOIM_TITLE
            ,b.MOIM_DSCR
            ,b.MOIM_START_DT
            ,b.MOIM_END_DT
            ,b.CREATE_USER
            ,d.USER_NM
            ,b.MAX_MEMBER
            ,v.VISIT_CNT
        ORDER BY v.VISIT_CNT DESC
        LIMIT 5;

    </select>

</mapper>