<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.trma.mapper.UserMapper">

    <!-- ========================= -->
    <!-- 아이디 중복 확인 -->
    <!-- ========================= -->
    <select id="existsUserId"
            parameterType="string"
            resultType="int">

        SELECT
            COUNT(1)
        FROM tb_trma_user_info a
        WHERE
            a.USER_ID = #{userId}

    </select>

    <!-- ========================= -->
    <!-- 회원가입_사용자정보 -->
    <!-- ========================= -->
    <insert id="insertUser"
            parameterType="com.example.backend.trma.dto.request.SignupRequest">

        INSERT INTO tb_trma_user_info
        (
        USER_ID
        ,USER_PW
        ,USER_NM
        ,LANG_CD
        ,STATE_CD
        ,ROLE_CD
        ,BIRTH_DT
        ,GENDER_CD
        ,PHONE_NUM
        ,CREATE_USER
        ,CREATE_DT
        ,UPDATE_USER
        ,UPDATE_DT
        )VALUES(
        #{userId}
        ,#{userPw}
        ,#{userNm}
        ,#{langCd}
        ,#{stateCd}
        ,#{roleCd}
        ,#{birthDt}
        ,#{genderCd}
        ,#{phoneNum}
        ,#{userId}
        ,CURRENT_TIMESTAMP
        ,#{userId}
        ,CURRENT_TIMESTAMP
        )

    </insert>

    <!-- ========================= -->
    <!-- 로그인 -->
    <!-- ========================= -->
    <select id="login"
            parameterType="com.example.backend.trma.dto.request.LoginRequest"
            resultType="String">

        SELECT
            a.USER_PW
        FROM tb_trma_user_info a
        WHERE
        a.USER_ID = #{userId}

    </select>

    <!-- ========================= -->
    <!-- 로그인 이력 등록 -->
    <!-- ========================= -->
    <insert id="insertUserHist"
            parameterType="com.example.backend.trma.dto.request.LoginRequest">

        INSERT INTO tb_trma_login_hist
        (
        USER_ID
        ,LOGIN_TOKEN
        ,LOGIN_DT
        )VALUES(
        #{userId}
        ,#{loginToken}
        ,CURRENT_TIMESTAMP
        )

    </insert>

    <!-- ========================= -->
    <!-- 마이페이지 -->
    <!-- ========================= -->
    <select id="userDetail"
            parameterType="com.example.backend.trma.dto.request.UserDetailRequest"
            resultType="com.example.backend.trma.dto.dataList.UserDetailData">

        SELECT
            a.USER_NM
            ,COALESCE(b.MOIM_CNT, 0) AS MOIM_CNT
            ,COALESCE(c.MEMBER_CNT, 0) AS MOIM_MEMBER_CNT
            ,COALESCE(d.REVIRE_CNT, 0) AS MOIM_REVIRE_CNT
            ,e.CMM_CM_NM AS LANG_NM
        FROM tb_trma_user_info a
        LEFT JOIN (
            SELECT
            CREATE_USER,
            COUNT(1) AS MOIM_CNT
            FROM tb_trma_moim_list
            GROUP BY CREATE_USER
        ) b ON a.USER_ID = b.CREATE_USER
        LEFT JOIN (
            SELECT
            c2.CREATE_USER
            ,COUNT(1) AS MEMBER_CNT
            FROM tb_trma_moim_member c1
            LEFT JOIN tb_trma_moim_list c2 ON c1.MOIM_ID = c2.MOIM_ID
            GROUP BY c2.MOIM_ID
        ) c ON a.USER_ID = b.CREATE_USER
        LEFT JOIN (
            SELECT
            d2.CREATE_USER
            ,COUNT(1) AS REVIRE_CNT
            FROM tb_trma_moim_review d1
            LEFT JOIN tb_trma_moim_list d2 ON d1.MOIM_ID = d2.MOIM_ID
            GROUP BY d2.MOIM_ID
        ) d ON a.USER_ID = b.CREATE_USER
        LEFT JOIN tb_trma_cmm_cd_d e ON a.LANG_CD = e.CMM_CDV AND e.CMM_CD_ID = 'LANG_CD'
        WHERE 1=1
            AND a.USER_ID =  #{userId}
    </select>

    <!-- ========================= -->
    <!-- 마이페이지_리뷰 -->
    <!-- ========================= -->
    <select id="reviewList"
            parameterType="com.example.backend.trma.dto.request.UserReviewRequest"
            resultType="com.example.backend.trma.dto.dataList.UserReviewData">

        SELECT
            b.REVIEW_TITLE
            ,b.REVIEW_CONTENT
            ,b.REVIEW_SCORE
            ,c.USER_NM
        FROM tb_trma_moim_list a
        LEFT JOIN tb_trma_moim_review b ON a.MOIM_ID = b.MOIM_ID
        LEFT JOIN tb_trma_user_info c ON b.CREATE_USER = c.USER_ID
        WHERE 1=1
        AND b.USE_YN = 'Y'
        <if test="userId != null and userId != ''">
            AND a.CREATE_USER = #{userId}
        </if>
        ORDER BY b.CREATE_DT DESC
        LIMIT 3
        <if test="offset != null and offset != ''">
            OFFSET #{offset}
        </if>
    </select>

</mapper>