.moim-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}
.moim-list li {
  display: flex;
}
.moim-list li > a {
  display: flex;
  width: 100%;
}
.moim-card .badges {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 4px;
  width: calc(100% - 10px);
  overflow: auto;
  z-index: 100;
}
.moim-card .badge {
  padding: 5px 10px;
  border-radius: var(--radius-sm);
  background: var(--green-500);
  color: var(--white);
  font-size: var(--fs-2xs);
  font-weight: var(--fw-bold);
  line-height: normal;    
  white-space: nowrap;
}
.moim-card .img {
  position: relative;
  height: 160px;
  min-height: 160px;
  background: var(--purple-300);
}
.moim-card .img .title{
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: calc(100% - 32px);
  color: var(--white);
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  text-shadow:
    0 2px 8px rgba(0,0,0,.3),
    0 1px 2px rgba(0,0,0,.4);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.moim-card .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  color: var(--gray-600);
  font-size: var(--fs-sm);
}
.moim-card .info-left {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .moim-card .info {
    align-items: flex-start;
  }
  .moim-card .info-left {
    flex-direction: column;
    gap: 3px;
  }
}