.card {
  padding: 20px;
  border-radius: 20px;
  background: var(--white);
  box-shadow: var(--shadow-card);
  scrollbar-width: none;
  overflow: hidden;
}
.card::-webkit-scrollbar {
  display: none;
}
.card-empty,
.card-error {
  width: 100%;
  padding: 50px;
  text-align: center;
}