.my-container {
  border: 1px solid red;
  position: relative;
  min-height: 100vh;
}
.my-container:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: 
}