.my-container {
  border: 1px solid red;
  position: relative;
  min-height: calc(100vh - 104px);
  padding-top: 104px;
}
.my-container:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: var( --purple-600);
  z-index: -1;
}

.user-profile {
  display: flex;
}