.themeList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-lg);
}

.themeList li {
  flex: 0 0 calc((100% - (var(--space-lg) * 2)) / 3);
  display: flex;
}

.themeList li .checkbox {
  width: 100%;
}

.themeList li label {
  width: 100%;
  height: 100%;
}
