.header + .container {
  margin-top: -44px;
}

.icon-card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-x: scroll;
}
.icon-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  margin: 0 auto;
  font-size: var(--fs-3xl);
  border-radius: 50%;
  background-color: var(--purple-100);
  box-sizing: border-box;
}
.icon-item .title {
  margin-top: 10px;
  color: var(--gray-700);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  text-align: center;
}

.spot-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}
.spot-list li {
  min-width: 0;
}

.moim-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 768px) {
  .spot-list {
    display: block;
  }
  .spot-list li + li {
    margin-top: 20px;
  }
}